
<main>

    <section class="py-5 container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p class="lead text-body-secondary custom-texto">FAMILIAS FELICES</p>
                <br>
                <p class="lead text-body-secondary custom-texto2">MAS DE 30 AÑOS DE EXPERIENCIA.</p>
            </div>
            <div class="row2">
                <div class="col-lg-6 col-md-8 mx-auto d-flex justify-content-start align-items-center">
                    <a href="#" class="btn my-2 lead text-body-secondary custom-btn">Nosotros</a>
                </div>
            </div>
        </div>

    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img th:src="@{/Gasista.jpg}" alt="Gasista" class="bd-placeholder-img card-img-top custom-card1-img">
                        <div class="card-body">
                            <p class="card-text">Contamos con una flota de gasistas matriculados altamente calificados.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a th:href="@{/buscarPorRubro/gasista}">
                                            Ver perfiles
                                        </a>
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img th:src="@{/carpintero.jpg}" alt="carpintero" class="bd-placeholder-img card-img-top custom-card-img">
                        <div class="card-body">
                            <p class="card-text">Contamos con una flota de carpinteros altamente calificados capaces de remorfar y darle vida a tu hogar.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a th:href="@{/buscarPorRubro/carpintero}">
                                            Ver perfiles
                                        </a>
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img th:src="@{/pintor.jpg}" alt="pintor" class="bd-placeholder-img card-img-top custom-card-img">
                        <div class="card-body">
                            <p class="card-text">Contamos con una flota de pintores altamente calificados para darle color a cada hogar.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a th:href="@{/buscarPorRubro/pintor}">
                                            Ver perfiles
                                        </a>
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img th:src="@{/plomero.jpg}" alt="plomero" class="bd-placeholder-img card-img-top custom-card-img">
                        <div class="card-body">
                            <p class="card-text">Contamos con una flota de plomeros altamente calificados.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a th:href="@{/buscarPorRubro/plomero}">
                                            Ver perfiles
                                        </a>
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img th:src="@{/electricista.png}" alt="electricista" class="bd-placeholder-img card-img-top custom-card-img">
                        <div class="card-body">
                            <p class="card-text">Contamos con una flota de electricistas matriculados altamente calificados.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a th:href="@{/buscarPorRubro/electricista}">
                                            Ver perfiles
                                        </a>
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img th:src="@{/herrero.jpg}" alt="herrero" class="bd-placeholder-img card-img-top custom-card-img">
                        <div class="card-body">
                            <p class="card-text">Contamos con una flota de herreros altamente calificados.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a th:href="@{/buscarPorRubro/herrero}">
                                            Ver perfiles
                                        </a>
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>  

            </div>
        </div>
    </div>

</main>
