<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom-width hide-navbar" >
    <a class="navbar-brand" href="#">
        <img th:src="@{/logoSinFondo.png}" alt="Logo" />
    </a>

    <button class="btn" type="submit">
        <li class="nav-item dropdown">
            <a class="nav-link active" th:href="@{/}" id="navbarDropdown" role="button" aria-expanded="false" aria-current="page">
                Inicio
            </a>
        </li>
    </button>
    <button class="btn" type="submit">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Servicios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#DCA6FC">
                <li><a class="dropdown-item"  th:href="@{/proveedores}">Todos</a></li>
                
                <li><a class="dropdown-item" name="nombre"  th:href="@{/buscarPorRubro/gasista}">Gasistas</a></li>
                
                <li><a class="dropdown-item" name="nombre"  th:href="@{/buscarPorRubro/plomero}">Plomeros</a></li>
            </ul>
        </li>
    </button>
    <button class="btn" type="submit" th:if="${session.usuariosession != null}" sec:authorize="hasRole('ADMIN')">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Rubros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#DCA6FC">
                <li><a class="dropdown-item"   th:href="@{/rubro/registrarRubro}" >Agregar</a></li>
                
                <li><a class="dropdown-item" name="nombre"  th:href="@{/rubro/listaRubros}">Listar</a></li>

            </ul>
        </li>
    </button>
    <button class="btn" type="submit" th:if="${session.usuariosession != null}" sec:authorize="hasRole('PROVEEDOR')">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mis Trabajos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#DCA6FC">
                <li><a class="dropdown-item" th:href="@{/notificaciones}">Solicitudes</a></li>
               
                <li><a class="dropdown-item" name="nombre"  th:href="@{/aceptados}">Aceptados</a></li>

            </ul>
        </li>
    </button>

    <button class="btn" type="submit" th:if="${session.usuariosession != null}" sec:authorize="hasRole('USER')">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Servicios contratados
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#DCA6FC">
                <li><a class="dropdown-item"   th:href="@{/usuarios/contratados}" >Ver todos</a></li>
            </ul>
        </li>
    </button>
    
    <button class="btn" type="submit" th:if="${session.usuariosession != null}">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Perfil
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#DCA6FC">
                <li><a class="dropdown-item"   th:href="@{/masInfo/__${session.usuariosession.id}__}" sec:authorize="hasRole('PROVEEDOR')">Mi perfil</a></li>
                
                <li><a class="dropdown-item"   th:href="@{/modificar/__${session.usuariosession.id}__}" sec:authorize="hasRole('PROVEEDOR')">Modificar datos</a></li>
                
                <li><a class="dropdown-item" name="nombre" href="/logout">Cerrar sesion</a></li>

            </ul>
        </li>
    </button>

</div>

</div>

</nav>


