<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom-width hide-navbar" >
    <a class="navbar-brand" href="#">
        <img th:src="@{/logoSinFondo.png}" alt="Logo" />
    </a>

    <button class="btn" type="submit">
        <li class="nav-item dropdown">
            <a class="nav-link active" th:href="@{/}" id="navbarDropdown" role="button" aria-expanded="false" aria-current="page">
                Inicio
            </a>
        </li>
    </button>
    <button class="btn" type="submit">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Servicios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#DCA6FC">
                <li th:each="rubro : ${rubros}"><a  th:text="${rubro.rubros}" class="dropdown-item" name="nombre" th:href="@{/buscarPorRubro/__${rubro.rubros}__}"></a></li> 
                <li><a class="dropdown-item"  th:href="@{/proveedores}">Todos</a></li>
            </ul>
        </li>
    </button>
    <button class="btn" type="submit" th:if="${session.usuariosession != null}" sec:authorize="hasRole('ADMIN')">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Rubros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#DCA6FC">
                <li><a class="dropdown-item"   th:href="@{/rubro/registrarRubro}" >Agregar</a></li>

                <li><a class="dropdown-item" name="nombre"  th:href="@{/rubro/listaRubros}">Listar</a></li>

            </ul>
        </li>
    </button>
    <button class="btn" type="submit" th:if="${session.usuariosession != null}" sec:authorize="hasRole('PROVEEDOR')">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mis Trabajos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#DCA6FC">
                <li><a class="dropdown-item" th:href="@{/notificaciones}">Ver todos</a></li>
            </ul>
        </li>
    </button>

    <button class="btn" type="submit" th:if="${session.usuariosession != null}" sec:authorize="hasRole('USER')">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Servicios contratados
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#DCA6FC">
                <li><a class="dropdown-item"   th:href="@{/usuarios/contratados}" >Ver todos</a></li>
            </ul>
        </li>
    </button>

    <button class="btn" type="submit" th:if="${session.usuariosession != null}">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.usuariosession.nombre} + ' ' + ${session.usuariosession.apellido}">
                </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#DCA6FC">
                <li><a class="dropdown-item"   th:href="@{/masInfo/__${session.usuariosession.id}__}" sec:authorize="hasRole('PROVEEDOR')">Mi perfil</a></li>
                <li><a class="dropdown-item"   th:href="@{/modificar/__${session.usuariosession.id}__}" sec:authorize="hasRole('PROVEEDOR')">Modificar datos</a></li>
                <li><a class="dropdown-item"   th:href="@{/administrador/modificar/__${session.usuariosession.id}__}" sec:authorize="hasRole('ADMIN')">Modificar datos</a></li>
                <li><a class="dropdown-item"   th:href="@{/usuarios/modificar/__${session.usuariosession.id}__}" sec:authorize="hasRole('USER')">Modificar datos</a></li>
                <li><a class="dropdown-item" name="nombre" href="/logout">Cerrar sesion</a></li>

            </ul>
        </li>
    </button>

    <button class="btn" type="submit" th:if="${session.usuariosession == null}">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Registrarme
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#DCA6FC">
                <li><a class="dropdown-item"   th:href="@{/registrar}" >Como Proveedor</a></li>

                <li><a class="dropdown-item" name="nombre"  th:href="@{/usuarios/registrar}">Como Usuario</a></li>

            </ul>
        </li>
    </button>
    <button class="btn" type="submit" th:if="${session.usuariosession == null}">
        <li class="nav-item dropdown">
            <a class="nav-link" th:href="@{/login}" id="navbarDropdown" role="button" aria-expanded="false">
                Loguearme
            </a>
        </li>
    </button>
</div>

</div>

</nav>


