<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="ISO-8859-1">
        <title>Servicios</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/formulario.css">
    </head>
    <body>
        <nav th:replace="/fragments/navbar :: nav"> </nav>
        <h3>Gasistas</h3>
        <div>
            <table class="table table-responsive table-striped table-hover table-primary">
                
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Rubro</th>
                        <th scope="col">Contacto</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Mas info</th>
                        <th scope="col">Acciones</th>
                        <th scope="col">Acciones</th>
                        
                    </tr>
                </thead>
                <tbody th:each="proveedor : ${proveedores}"> 
                    <tr>
                        <th scope="row" th:text="${proveedor.nombre}"></th>
                        <td th:text="${proveedor.apellido}"></td>
                        <td th:text="${proveedor.rubro}"></td>
                        <td th:text="${proveedor.telefono}"></td>
                        <td th:text="${proveedor.imagen.contenido}"></td>
                        <td>#</td>
                            
                        <td>
                            
                            <a th:href= "@{/modificar/__${proveedor.id}__}"><i class="fas fa-feather-alt"></i> Modificar </a>
                        </td>
                        <td>
                            
                            <a th:href= "@{/eliminar/__${proveedor.id}__}"><i class="fas fa-feather-alt"></i> Eliminar</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>