<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head"> </head>
    <body>
        <nav th:replace="/fragments/navbar :: nav"> </nav>
        <h3>Todos los servicios</h3>
        <div>
            <table class="table table-responsive table-striped table-hover table-primary">

                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Rubro</th>
                        <th scope="col">Contacto</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Mas info</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')">Modificar</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')">Eliminar</th>

                    </tr>
                </thead>
                <tbody th:each="proveedor : ${proveedores}"> 
                    <tr>
                        <th scope="row" th:text="${proveedor.nombre}"></th>
                        <td th:text="${proveedor.apellido}"></td>
                        <td th:text="${proveedor.rubro.rubros}"></td>
                        <td th:text="${proveedor.telefono}"></td>
                        <td th:text="${proveedor.imagen.contenido}"></td>
                        <td>
                            <button type="button" class="btn btn-outline-secondary">
                                <a th:href="@{/masInfo/__${proveedor.id}__}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg></a>
                            </button>
                        </td>

                        <td  sec:authorize="hasRole('ADMIN')">
                            <button type="button" class="btn btn-outline-secondary">
                                <a th:href= "@{/modificar/__${proveedor.id}__}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg></a>
                            </button>
                        </td>
                        
                        <td  sec:authorize="hasRole('ADMIN')">
                            <button type="button" class="btn btn-outline-danger">
                                <a th:href= "@{/eliminar/__${proveedor.id}__}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                    </svg>
                                </a>
                            </button>
                        </td>
                    </tr>
                </tbody>

                <div th:if="${error != null}" class="text-white bg-success mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title">Error!!!!</h5>
                        <p class="card-text" th:text="${error}"> </p>
                    </div>
                </div>
            </table>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
