<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head">
    </head>
    <body>

        <nav th:replace="/fragments/navbar :: nav"> </nav>
        <div class="row justify-content-center" style="text-align: center">
            <div class="col col-10">
                <table class="table table-responsive table-striped table-hover table-primary">
                    <thead>
                        <tr>
                            <th sope="col">Lista de servicios</th>
                        </tr>
                    </thead>

                </table>
            </div>

            <div class="col col-10">
                <table class="table table-responsive table-striped table-hover my-tableR ">

                    <thead>
                        <tr style="background-color: #B2CBF4; color: black;">
                            <th scope="col">Servicio</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Puntaje dado</th>
                            <th scope="col">Calificar servicio</th>
                            <th scope="col">Cancelar servicio</th>
                        </tr>
                    </thead>

                    <tbody th:each="trabajo : ${trabajos}" >
                        <tr th:class="${trabajo.estado.name()} == 'RECHAZADO' ? 'red-row' : 'accepted-row'"style="background-color: #B2CBF4; color: white;">
                            <th scope="row" th:text="${trabajo.proveedor.rubro.rubros}"></th>
                            <td>
                                <span  th:text="${trabajo.proveedor.nombre}"></span>
                                <span  th:text="${trabajo.proveedor.apellido}"></span>
                            </td>
                            <td th:text="${trabajo.estado}"></td>
                            <td>
                                <span th:if="${trabajo.estado.name() == 'VOTADO'}">
                                    <p  th:text="${trabajo.voto.puntaje}"></p>
                                </span>
                                <span th:if="${trabajo.estado.name() != 'VOTADO'}">-</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-secondary" th:if="${trabajo.estado.name() == 'FINALIZADO'}">
                                    <a th:href="@{/usuarios/calificacion/__${trabajo.id}__}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                        </svg></a>
                                </button>
                                <span th:if="${trabajo.estado.name() != 'FINALIZADO'}">-</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-secondary" th:if="${trabajo.estado.name() == 'ACEPTADO'}">
                                    <a th:href="@{/usuarios/cancelado/__${trabajo.id}__}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg></a>
                                </button>
                                <span th:if="${trabajo.estado.name() != 'ACEPTADO'}">-</span>
                            </td>
                        </tr>


                    </tbody>

                </table>
            </div>

        </div>

        <footer th:replace="/fragments/footer :: footer"></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
